<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'donates')}">

<body>

<h2>Donates</h2>

<table id="donates" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 200px;">Donator's name</th>
    <th style="width: 200px;">Date of donation</th>
    <th style="width: 150px;">Amount (EUR)</th>
    <th style="width: 500px">Message from the donator</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="donate : ${listDonates}">
    <td th:text="${donate.donatorName}"/></td>
    <td th:text="${donate.date}"/>
    <td th:text="${donate.amount}"/>
    <td th:text="${donate.message}"/>
  </tr>
  </tbody>
</table>
<div th:if="${totalPages > 1}">
  <span>Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/donates.html?page=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/donates.html?page=1'}" title="First"
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/donates.html?page=__${currentPage - 1}__'}" title="Previous"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/donates.html?page=__${currentPage + 1}__'}" title="Next"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/donates.html?page=__${totalPages}__'}" title="Last"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-step-forward"></span>
    </span>
</div>

<form th:object="${donate}" th:action="@{/donates.html}" method="post">
  <input type="text" th:field="*{donatorName}" placeholder="Donator Name"/>
  <input type="date" th:field="*{date}" placeholder="Donation Date"/>
  <input type="text" th:field="*{amount}" placeholder="Amount"/>
  <input type="text" th:field="*{message}" placeholder="Message"/>
  <button class="btn btn-primary" type="submit">Add Donate</button>
</form>


</body>
</html>

